<%= semantic_form_for  [:admin, @employement] do |f|

%>
  <% if @employement.errors.any? %>
    <div id="error_explanation">
      <h2>This employment record can not be created due to <%= pluralize(@employement.errors.count, "error") %> from input:</h2>
      <ul>
      <% @employement.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h4>Employment Record for Employee
      <!--%= Employee.find(params[:employee]).name %-->
      <!--%= Employee.find(params[:employee]).pancard % -->
      with Employer <%=current_user.employer.name %> </h4>
  <%= f.inputs do %>
        <!--%= f.input :employee, :collection => Employee.all.map{ |employee| [employee.name, employee.pancard] }%-->
        <!--%= f.input :employee_id , :as => :hidden , :value => params[:employee] %-->
        <!--%= f.input :employee %-->
        <%= f.input :employee_id , :as => :hidden %>
        <%= f.input :employer_id , :as => :hidden %>
        <%= f.input :status_id , :as => :hidden  %>

        <!--%= f.input :employer %-->
        <%= f.input :employee_code %>
        <%= f.input :date_of_joining , :as => :date_picker%>
        <%= f.input :resignation_date, :as => :date_picker %>
        <%= f.input :date_of_leaving , :as => :date_picker%>
        <%= f.input :exit_comments  ,:label => "Exit Comments" %>
        <%= f.input :designation %>
        <%= f.input :department %>
        <%= f.input :function %>
        <%= f.input :recorded_address %>
        <%= f.input :mobile %>
        <%= f.input :highest_qualification %>
        <%= f.input :highest_qualification_year %>
        <%= f.input :landline %>
        <%= f.input :severance %>
        <%= f.input :reason %>
        <%= f.input :other_reason %>
        <%= f.input :termination_discharge_reason %>
        <%= f.input :other_termination_discharge_reason %>
        <%= f.input :regret_flag ,:label => "Regrettable", :as=> :radio %>
        <%= f.input :rehire_flag, :label => "Would Rehire? ", :as=> :radio %>
        <%= f.input :conduct %>
        <%= f.input :external_matter_history %>
        <%= f.input :history_impact %>
        <%= f.input :category %>

        <%= f.input :last_pms_performance_rating, :as => :select ,:label => "last_pms_performance_rating", :collection => Range.new(1, 10)  %>

        <%= f.input :previous_pms_year_performance_rating, :as => :select ,:label => "previous_pms_year_performance_rating", :collection => Range.new(1, 10)  %>


        <%= f.input :before_previous_pms_year_performance_rating, :as => :select ,:label => "before_previous_pms_year_performance_rating", :collection => Range.new(1, 10)  %>

        <%= f.input :ctc_on_hire %>
        <%= f.input :ctc_on_severance %>
        <%= f.input :notice_period_served %>
        <%= f.input :notice_period_paid %>
        <%= f.input :full_n_final_status %>
        <%= f.input :settlement_pending_side %>
        <!--%= f.input :rating %-->


        <!-- #need this to be provide hidden creator value   -->
        <%= f.input :created_by , :as => :hidden , :value => current_user.id %>

    <% end %>
    <% if  current_user.role.name == "admin" %>
        <%= f.inputs :approver, :status_id, :is_published %>
    <% end %>
    <%= f.actions %>


<% end %>
