<% if      params[:status]=="Submitted"
     @employements = Employement.search_employments_submitted_by_team(current_user.id)
   elsif      params[:status]=="Approved"
     @employements = Employement.search_employments_approved(current_user.id)
   elsif      params[:status]=="Published"
     @employements = Employement.search_employments_published(current_user.id)
   elsif      params[:status]=="All"
     @employements = Employement.search_accessible_employments(current_user.id)
   else
     @employements = Employement.search_all
   end %>

<table cellspacing="0" cellpadding="0" border="0" paginator="true" class="index_table index" id="employements">
    <thead>
      <tr>
        <th class="employee">Employee</th>
        <th class="employer">PAN</th>
        <th class="employer">Date Of Birth</th>
        <th class="employer">Employer</th>
        <th class="duration">Duration</th>
        <th class="employer">Category</th>
        <th class="data_actions">Data Actions</th>
        <th class="status">Status</th>
        <th class="business_actions">Business Actions</th>
        <% if  current_user.role.name == "manager"  %>
            <th class="created_by">Created By</th>
            <th class="is_published">Published?</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
     <% @employements.each do |employement| %>
         <tr >
            <td class="employee"><%= employement.employee.name %></td>
           <td class="employer"><%= employement.employee.pancard %></td>
           <td class="employer"><%= employement.employee.date_of_birth %></td>
           <td class="employer"><%= employement.employer.name %></td>
           <td class="duration"><%= distance_of_time_in_words(employement.date_of_leaving, employement.date_of_joining) %></td>
           <td class="employer"><%= employement.category.name %></td>
            <td class="data_actions">
              <a class="member_link view_link" href="/admin/employements/<%= employement.id %>">View</a>
              <% if employement.status.nil? || employement.status.name == "Created" || employement.status.name == "Rejected" %>
              <a class="member_link edit_link" href="/admin/employements/<%= employement.id %>/edit">Edit</a>
              <% end %>
              <!--a rel="nofollow" data-method="delete" data-confirm="Are you sure you want to delete this?"
                 class="member_link delete_link" href="/admin/employements/">Delete
              </a></td-->
            <td class="status"><%= employement.status && employement.status.name %></td>
            <td class="business_actions">
             <% if (employement.status.nil? || employement.status.name == "Created" || employement.status.name == "Rejected" ) && current_user.role.name != "manager" %>
                 <a href="/admin/employements/<%= employement.id %>/submit" class="member_link publish_link">Submit</a>
             <% end %>
             <% if current_user.role.name == "manager" && (employement.status != nil && employement.status.name == "Submitted") %>
                 <a href="/admin/employements/<%= employement.id %>/approve" class="member_link publish_link">Approve</a>
                 <a href="/admin/employements/<%= employement.id %>/reject" class="member_link publish_link">Reject</a>
            <% end %>
             <% if current_user.role.name == "admin" && (employement.status != nil && employement.status.name == "Approved") %>
                 <a href="/admin/employements/<%= employement.id %>/publish" class="member_link publish_link">Publish</a>
             <% end %>
            </td>
            <% if current_user.role.name == "manager" || (current_user.role.name == "admin") %>
               <td class="created_by"><%= employement.creator && employement.creator.name %></a></td>
               <td class="is_published"><%= employement.is_published? ? "Yes" : "No" %></td>
            <% end %>
         </tr>
     <% end %>
    </tbody>
  </table>