<h1>Listing employements</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Employer</th>
    <th>Date of joining</th>
    <th>Date of leaving</th>
    <th>Exit comments</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employements.each do |employement| %>
  <tr>
    <td><%= employement.employee_id %></td>
    <td><%= employement.employer_id %></td>
    <td><%= employement.date_of_joining %></td>
    <td><%= employement.date_of_leaving %></td>
    <td><%= employement.exit_comments %></td>
    <td><%= employement.rating %></td>
    <td><%= link_to 'Show', employement %></td>
    <td><%= link_to 'Edit', edit_employement_path(employement) %></td>
    <td><%= link_to 'Destroy', employement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employement', new_employement_path %>
