<% if      params[:status]=="Submitted"
     @employees = Employee.search_employees_submitted_by_team(current_user.id)
   elsif      params[:status]=="Approved"
     @employees = Employee.search_employees_approved(current_user.id)
   elsif      params[:status]=="Published"
     @employees = Employee.search_employees_published(current_user.id)
   elsif      params[:status]=="All"
     @employees = Employee.search_accessible_employees(current_user.id)
   else
     @employees = Employee.search_accessible_employees(current_user.id)
   end %>
<table cellspacing="0" cellpadding="0" border="0" paginator="true" class="index_table index" id="employees">
  <thead>
  <tr>
    <!--th class="sorted-desc id"><a href="/admin/employees?order=id_asc">Id</a></th-->
    <th class="name">Name</th>
    <th class="pan">PAN</th>
    <th class="date_of_birth">Date of Birth</th>
    <th class="ssc_code">SSC Marksheet Id</th>
    <th class="university">University</th>
    <th class="employements">Employments</th>
    <th class="data_actions">Data Actions</th>
    <th class="status">Status</th>
        <th class="business_actions">Business Actions</th>
    <% if  current_user.role.name == "manager"  %>
        <th class="created_by">Created By</th>
    <% end %>
    <th class="is_published">Published?</th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
      <tr>
        <td class="name"><%= employee.name %></td>
        <td class="pan"><%= employee.pancard %></td>
        <td class="date_of_birth"><%= employee.date_of_birth %></td>
        <td class="ssc_code"><%= employee.ssc_marksheet_code %></td>
        <td class="university"><%= employee.university && employee.university.name %></td>
        <td class="employements"><%=  employee.employements && employee.employements.size %></td>
        <td class="data_actions">
          <a href="/admin/employees/<%= employee.id %>" class="member_link view_link">View</a>

          <% if employee.status.nil? || employee.status.name == "Created" %>
            <a href="/admin/employees/<%= employee.id %>/edit" class="member_link edit_link">Edit</a>
          <% end %>

          <!--a href="/admin/employees/< employee.id %>
          " class="member_link delete_link" data-confirm="Are you sure you want to delete this?"
             data-method="delete" rel="nofollow">Delete</a -->
        </td>
        <td class="status"><%= employee.status && employee.status.name %></td>
        <td class="business_actions">
          <% if employee.status.nil? || employee.status.name == "Created" %>
              <a href="/admin/employees/<%= employee.id %>/submit" class="member_link publish_link">Submit</a>
          <% end %>
          <% if current_user.role.name == "manager" && (employee.status != nil && employee.status.name == "Submitted") %>
                  <a href="/admin/employees/<%= employee.id %>/approve" class="member_link publish_link">Approve</a>
          <% end %>
          <% if current_user.role.name == "admin" && (employee.status != nil && employee.status.name == "Approved") %>
               <a href="/admin/employees/<%= employee.id %>/publish" class="member_link publish_link">Publish</a>
          <% end %>
        </td>
        <% if current_user.role.name == "manager" %>
            <td class="created_by"><%= employee.creator.name %></a></td>
            <td class="is_published"><%= employee.is_published? ? "Yes" : "No" %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
