<h1>Listing employers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Employer code</th>
    <th>Address</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employers.each do |employer| %>
  <tr>
    <td><%= employer.name %></td>
    <td><%= employer.employer_code %></td>
    <td><%= employer.address %></td>
    <td><%= employer.city %></td>
    <td><%= link_to 'Show', employer %></td>
    <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
    <td><%= link_to 'Destroy', employer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employer', new_employer_path %>
